.form {
  width: 100%;
  max-width: 500px;
  margin: auto;
  .full-width {
    width: 100%;
    display: block;
  }
  .login_actions{
    display: flex;
    align-items: center;
    padding: 0 1rem;
    margin-bottom: 2rem;
    font-size: 0.8em;

    a{
      width: 155px;
    }
  }
}
