
  <mat-toolbar color="primary">Menu</mat-toolbar>
  <mat-nav-list>
    <a mat-list-item href="#">
      <mat-icon>supervised_user_circle</mat-icon> Profile
    </a>
    <a mat-list-item href="#">
      <mat-icon>child_friendly</mat-icon> Children
    </a>
    <a mat-list-item href="#">
      <mat-icon>face</mat-icon> sitters
    </a>
    <a mat-list-item href="#">
      <mat-icon>child_care</mat-icon> Care
    </a>
    <a mat-list-item href="#">
      <mat-icon>notifications</mat-icon>
      <!-- <mat-icon>notifications_active</mat-icon> -->
       Notifications
    </a>
    <mat-divider></mat-divider>
    <a mat-list-item routerLink="/login">
      log in
    </a>
    <a mat-list-item routerLink="/register">
      register
    </a>
  </mat-nav-list>