<div id="registerForm">
  <header>
    <h2>Register</h2>
  </header>
  <form [formGroup]="registerForm">
    <mat-vertical-stepper formArrayName="formArray" linear editable="true" #stepper>
      <mat-step formGroupName="0" [stepControl]="formArray?.get([0])">
        <ng-template matStepLabel>Who are you?</ng-template>
        <div class="form_group_step">
          <h3>Who are you?</h3>
          <mat-radio-group formControlName="userType">
            <mat-radio-button value="parent">Im a parent</mat-radio-button>
            <mat-radio-button value="sitter">Im a sitter</mat-radio-button>
          </mat-radio-group>

          <div  class="button_box">
            <button mat-raised-button color="primary" matStepperNext  type="button">Next</button>
          </div>
        </div>
      </mat-step>
      <mat-step formGroupName="1" [stepControl]="formArray?.get([1])">
        <ng-template matStepLabel>Account information</ng-template>
        <div class="form_group_step">
          <h3>Account information</h3>
          <mat-form-field class="full-width">
            <input matInput placeholder="email" type="email" formControlName="email">
            <mat-error >
              Please enter a valid email
            </mat-error>
          </mat-form-field>

          <mat-form-field class="full-width">
            <input matInput placeholder="password" type="password" formControlName="password">
            <mat-error>
              Please enter a valid password
            </mat-error>
          </mat-form-field>
          <mat-form-field class="full-width">
            <input matInput placeholder="confirm password" type="password" formControlName="passwordConfirm">
            <mat-error>
              Please enter a similar password
            </mat-error>
          </mat-form-field>
          <div  class="button_box">
            <button mat-stroked-button matStepperPrevious type="button">Back</button>
            <button mat-raised-button color="primary" matStepperNext  type="button">Next</button>
          </div>
        </div>
      </mat-step>

      <mat-step formGroupName="2" [stepControl]="formArray.get([2])">
        <ng-template matStepLabel>About you</ng-template>
        <div class="form_group_step">
          <h3>Tell us about youself</h3>
          <mat-form-field class="full-width">
            <input matInput placeholder="name" type="text" formControlName="name">
            <mat-error>
              Your name must have at least two characters
            </mat-error>
          </mat-form-field>
          <mat-form-field class="full-width" *ngIf="userType.value === 'sitter'">
            <input matInput placeholder="age" type="number" formControlName="age">
            <mat-error>
              You must be at least 15 years old
            </mat-error>
          </mat-form-field>
          <mat-form-field *ngIf="userType.value === 'sitter'">
            <mat-select placeholder="gender">
              <mat-option [value]="female">Female</mat-option>
              <mat-option [value]="male">Male</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="full-width">
            <input matInput placeholder="phone number" type="text" formControlName="phone">
          </mat-form-field>
          <div  class="button_box">
            <button mat-stroked-button matStepperPrevious type="button">Back</button>
            <button mat-raised-button color="primary" matStepperNext type="button">Next</button>
          </div>
        </div>
      </mat-step>

      <mat-step formGroupName="3" [stepControl]="formArray.get([3])" *ngIf="userType.value === 'sitter'" [optional]="isOptional">
        <ng-template matStepLabel>Preferences</ng-template>
        <div class="form_group_step">
          <h3>Tell a little about your work preferenes</h3>
          <mat-form-field class="full-width">
            <input matInput placeholder="Occupation" type="text" formControlName="occupation">
          </mat-form-field>
          <mat-form-field class="full-width">
            <textarea matInput placeholder="Description" formControlName="description"></textarea>
          </mat-form-field>
          <mat-form-field>
            <mat-select placeholder="Hourly wage">
              <mat-option>undecided</mat-option>
              <mat-option [value]="1">50 - 75</mat-option>
              <mat-option [value]="1">75 - 100</mat-option>
              <mat-option [value]="1">100 - 150</mat-option>
              <mat-option [value]="1">200+</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="full-width">
            <input matInput placeholder="location" type="text" formControlName="location">
          </mat-form-field>
          <div  class="button_box">
            <button mat-stroked-button matStepperPrevious type="button">Back</button>
            <button mat-raised-button color="primary" matStepperNext type="button">Next</button>
          </div>
        </div>
      </mat-step>

      <mat-step formGroupName="4" [stepControl]="formArray.get([4])" *ngIf="userType.value === 'sitter'" [optional]="isOptional">
        <ng-template matStepLabel>Final touch</ng-template>

        <div id="preview"></div>
        <div class="form_group_step">
          <h3>Add a photo of youself</h3>


          <input hidden id="input-file-id" multiple type="file" />
          <label for="input-file-id" mat-raised-button color="primary">Choose Files</label>
          <!-- <label for="input-file-id" class="md-button md-raised md-primary">Choose Files</label> -->
        
        <div  class="button_box">
          <button mat-stroked-button matStepperPrevious type="button">Back</button>
          <button mat-raised-button color="primary" matStepperNext type="button">Done!</button>
        </div>
      </div>
      </mat-step>


      <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        <div class="form_group_step">
          <h3>Almost done</h3>
          <p>We just finished setting up your account. Just confirm your email to get started!</p>
          <div class="button_box">
            <button mat-stroked-button matStepperPrevious>Back</button>
            <a mat-raised-button color="primary" routerLink="/">Confirm email</a>
          </div>
        </div>
      </mat-step>
    </mat-vertical-stepper>
  </form>
  {{registerForm.value | json}}
</div>
