<div id="registerForm">
  <header>
      <h2>Register</h2>
  </header>
  <form [formGroup]="registerForm">
    <mat-vertical-stepper formArrayName="formArray"  editable="true" #stepper>
      <mat-step formGroupName="0" [stepControl]="formArray?.get([0])">
        <ng-template matStepLabel>Account information</ng-template>
        <div class="form_group_step">
          <h3>Who are you?</h3>
          <mat-radio-group formControlName="type">
            <mat-radio-button value="parent">Im a parent</mat-radio-button>
            <mat-radio-button value="sitter">Im a sitter</mat-radio-button>
          </mat-radio-group>
          <mat-divider></mat-divider>

          <h3>Account information</h3>
          <mat-form-field class="full-width">
            <input matInput placeholder="email" type="email" formControlName="email">
            <mat-error>
              Please enter a valid email
            </mat-error>
          </mat-form-field>

          <mat-form-field class="full-width">
              <input matInput placeholder="password" type="password" formControlName="password">
            <mat-error>
              Please enter a valid password
            </mat-error>
          </mat-form-field>
          <mat-form-field class="full-width">
            <input matInput placeholder="confirm password" type="password">
            <mat-error>
              Please enter a similar password
            </mat-error>
          </mat-form-field>
          <div>
            <button mat-button matStepperNext [disabled]="!type.touched" type="button">Next</button>
          </div>
        </div>
      </mat-step>

      <mat-step formGroupName="1" [stepControl]="formArray.get([1])">
        <ng-template matStepLabel>About you</ng-template>
        <div class="form_group_step">
          <mat-form-field class="full-width">
            <input matInput placeholder="name" type="text" formControlName="name">
            <mat-error>
              Your name must have at least two characters
            </mat-error>
          </mat-form-field>
          <mat-form-field *ngIf="type.value === 'sitter'">
            <mat-select placeholder="gender">
              <mat-option [value]="female">Female</mat-option>
              <mat-option [value]="male">Male</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="full-width" *ngIf="type.value === 'sitter'">
            <input matInput placeholder="age" type="number" formControlName="age">
            <mat-error>
              You must be at least 15 years old
            </mat-error>
          </mat-form-field>
          <mat-form-field class="full-width">
            <input matInput placeholder="phone number" type="text" formControlName="phone">
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious type="button">Back</button>
            <button mat-button matStepperNext type="button">Next</button>
          </div>
        </div>
      </mat-step>

      <mat-step formGroupName="2" [stepControl]="formArray.get([2])" *ngIf="type.value === 'sitter'">
          <ng-template matStepLabel>apply</ng-template>
          <div class="form_group_step">
            <mat-form-field class="full-width">
              <input matInput placeholder="Occupation" type="text" formControlName="occupation">
            </mat-form-field>
            <mat-form-field class="full-width">
                <textarea matInput placeholder="Description" formControlName="description"></textarea>
            </mat-form-field>
            <mat-form-field>
                <mat-select placeholder="Hourly wage">
                  <mat-option>undecided</mat-option>
                  <mat-option [value]="1">50 - 75</mat-option>
                  <mat-option [value]="1">75 - 100</mat-option>
                  <mat-option [value]="1">100 - 150</mat-option>
                  <mat-option [value]="1">200+</mat-option>
                </mat-select>
              </mat-form-field>
            <mat-form-field class="full-width">
                <input matInput placeholder="location" type="text" formControlName="location">
              </mat-form-field>
            <div>
              <button mat-button matStepperPrevious type="button">Back</button>
              <button mat-button matStepperNext type="button">Next</button>
            </div>
          </div>
        </mat-step>

      <mat-step formGroupName="3" [stepControl]="formArray.get([3])" *ngIf="type.value === 'sitter'">
          <ng-template matStepLabel>Profile picture</ng-template>
          <div class="form_group_step">
            <div id="preview">

            </div>

            <input hidden id="input-file-id" multiple type="file" />
            <label for="input-file-id" mat-raised-button color="primary">Choose Files</label>
                <!-- <label for="input-file-id" class="md-button md-raised md-primary">Choose Files</label> -->
            
            <div>
              <button mat-button matStepperPrevious type="button">Back</button>
              <button mat-button matStepperNext type="button">Next</button>
            </div>
          </div>
        </mat-step>


      <mat-step>
          <ng-template matStepLabel>Done</ng-template>
          
          You are now done.
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button (click)="stepper.submit()">Submit</button>
          </div>
        </mat-step>
    </mat-vertical-stepper>
  </form>
  {{registerForm.value |json}}
</div>
